/* Adjustments for responsive design */

.body {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* Adjusted button text styles */
.button-text {
  text-decoration: none;
  margin: 5px;
}

/* Styling for booking section */
.booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

/* Styling for book appointment container */
.book-appointment-container {
  width: 35rem;
  padding: 20px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: var(--boxShadow); 
  margin-bottom: 25px;
  margin-left: 10px;
}

/* Header styles */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #c66d2e; 
}

/* Selected date styles */
.selected-date {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #c66d2e;
}

/* Form group styles */
.form-group {
  margin-bottom: 20px;
}

/* Label styles */
label {
  display: block;
  margin-bottom: 5px;
  color: #c66d2e;
}

/* Input and textarea styles */
input,
textarea {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Textarea styles */
textarea {
  height: 100px;
}

/* Button styles */
.bt {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #c66d2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover styles */
.bt:hover {
  background-color: #ed8c47;
}

/* Appointments container styles */
.appointments-container {
  width: 25rem;
  padding: 20px;
  background-color: #f5dabb;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Appointments container header styles */
.appointments-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #c66d2e;
}

/* Appointments list styles */
.appointments-container ul {
  list-style-type: none;
  padding: 0;
}

/* Appointment item styles */
.appointments-container li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

/* Paragraph styles within appointments */
.appointments-container p {
  margin: 5px 0;
}

/* Doctors section styles */
.doctors-section {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5dabb;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
}

/* Doctors list styles */
.doctors-list {
  display: flex;
  justify-content: space-between;
}

/* Doctor item styles */
.doctor {
  text-align: center;
  width: 30%;
  margin-bottom: 45px;
}

/* Doctor image styles */
.doctor img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* Doctor name styles */
.doctor h3 {
  margin-bottom: 5px;
  color: #333;
}

/* Doctor field styles */
.doctor p {
  color: #666
}

/* Media query for tablet screens */
@media only screen and (max-width: 768px) {
  .booking {
    flex-direction: column;
    align-items: center;
  }
  .book-appointment-container,
  .appointments-container {
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  .doctors-list {
    flex-wrap: wrap;
  }
  .doctors-section {
    width: 80%;
  }
  .doctor {
    width: 40%;
  }
}

/* Media query for mobile screens */
@media only screen and (max-width: 576px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
}
