/* Styling for the container */
.Ctn {
  justify-content: center;
  align-items: center;
  max-height: 100%;
  margin: 0;
  background-color: var(--background);
}

/* Styling for top right button */
.top-right-button {
  display: flex;
  justify-content: flex-end;
}

/* Styling for home button */
.home-button {
  padding: 8px 1%;
  border: 1px solid #9a6639;
  border-radius: 4px;
  color: var(--button);
  width: auto;
  transform: scale(0.89);
}

/* Styling for search section */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  height: 8vh;
  width: 60%;
  border-radius: 25px;
  border: none;
  padding: 2vh 4vh;
  opacity: 0.7;
  margin-right: 7px;
  margin-top: 10px;
}

.search input::placeholder {
  color: #999;
  font-style: italic;
}

.search .E-btn {
  background-color: var(--button);
  color: white;
  padding: 20px;
  width: 10%;
  height: 4rem;
  border: none;
}

.search .search-results {
  position: absolute;
  width: 60%;
  top: 75%;
  width: calc(80% - 14px);
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  z-index: 999;
  font-family: italics;
}

.search .search-results li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.search .search-results li:hover {
  background-color: var(--background);
}

/* Styling for hospital details section */
.details-h {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hospital-details {
  font-family: italics;
  margin-top: 20px;
  width: 25rem;
  transform: scale(0.85);
  position: relative;
  z-index: 990;
  margin: 20px 20px 55px 20px;
  max-height: 30rem;
  text-align: start;
  overflow-y: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hospital-details h2 {
  margin-bottom: 10px;
}

.hospital-details p {
  margin: 5px 0;
}

.hospital-details ul {
  list-style: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .search input {
    width: 60%;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .home-button {
    transform: scale(0.69);
  }
  .search input {
    width: 70%;
  }
  .search .E-btn {
    width: 20%;
    transform: scale(0.69);
  }
  .hospital-details {
    width: 70%;
    margin: 20px auto;
  }
}
