.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.about-us .Sub-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.about-us img {
  max-width: 100%; 
  height: auto; 
  margin-top: 35px;
  border-radius: 35px;
  object-fit: cover;
}

.about-us .content-text {
  max-width: 100%; 
  text-align: center; 
  padding: 20px;
}

/* Header styles */
.about-us h2 {
  font-size: 28px;
}

/* Sub-header styles */
.about-us h3 {
  font-size: 18px;
}

/* Paragraph styles */
.about-us p {
  font-size: 14px;
}

/* Link styles */
.about-us a {
  color: #bb893e;
  text-decoration: none;
}

/* List item styles */
.about-us li {
  margin-bottom: 8px;
}

/* Media Queries */

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .about-us {
    height: auto;
  }

  .about-us .Sub-cont {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-us img {
    height: 90vh;
    max-width: none; 
  }

  .about-us .content-text {
    max-width: 50%; 
    text-align: start;
  }
}

/* Media query for smaller screens */
@media only screen and (max-width: 576px) {
  .about-us img {
    height: 70vh;
  }
}
