.n-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: var(--background);
  padding: 10px 5vw;
}

/* Logo */
.n-left img {
  width: 100%;
  max-width: 250px;
}

/* Navigation Links */
.n-middle{
   margin-left: auto;
}
.n-middle ul {
  list-style: none;
  display: flex;
  align-items: center;
 
}

.n-middle ul li {
  margin-right: 20px;
  cursor: pointer;
}

.n-middle ul li a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: var(--text);

}
.n-middle ul li a:hover {
   text-decoration: underline;
}
/* Buttons */
.n-button,
.l-button {
  padding: 8px 30px;
  border: 1px solid #9a6639;
  border-radius: 4px;
  color: var(--button);
}

.n-button:hover {
  transform: translateY(-3px);
  box-shadow: var(--boxShadow);
}
.n-right {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.n-right .n-button {
  margin-right: 20px;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Initially hidden */
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  /* Logo Size */
  .n-left img {
    max-width: 80px;
  }

  /* Hide Navigation Links */
  .n-middle ul {
    display: none;
  }

  /* Show Navigation Links when Menu is Open */
  .n-middle.show ul {
    background-color: rgba(221, 184, 141, 0.73);
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1000;
    padding: 6px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }

  .n-middle.show ul li {
    margin: 10px;
  }

  /* Hamburger Menu Styling */
  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    position: relative; 
    z-index: 1000; 
  }

  /* Styles for hamburger lines */
  .line {
    width: 100%;
    height: 3px;
    background-color: var(--button);
    margin: 5px;
    border-radius: 3px; 
    transition: transform 0.3s ease;
  }

  /* Styles for open state of hamburger lines */
  .line-open {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  /* Move Logout Button Inside Hamburger Menu */
  .n-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    padding: 6px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .n-right button {
    margin: 5px;
  }
}
