/* Styles for Testimonials Title */
.t-cont h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for Testimonials Container */
.testimonials-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
   padding: 10px 5vw;
}

/* Styles for Testimonial Cards */
.testimonial-card {
  width: 25rem;
  margin-right: 45px;
  padding: 20px;
  background-color: var(--background);
  text-align: center;
  border-radius: 15px;
  position: relative;
  box-shadow: var(--boxShadow);
  animation: moveRight 10s linear infinite;
}

/* Animation keyframes for Testimonial Cards */
@keyframes moveRight {
  0% {
    transform: translateX(-90%);
  }
  90% {
    transform: translateX(20);
  }
}

/* Styles for Testimonial Header */
.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Styles for Rating */
.rating {
  display: flex;
  color: #c66d2e;
}

.rating .filled {
  color: #edc02a;
  font-size: 1rem;
}

.rating .empty {
  color: #ccc;
  font-size: 1rem;
}

/* Styles for Comment */
.comment {
  color: #333;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .testimonials-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-card {
    margin: 15px;
    width: 18rem;
  }

  @keyframes moveRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(10);
    }
  }
}
